<div class="container mx-auto  my-20">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3  gap-20">
    
    <div>
        <app-project-card 
        [imageUrl]="'../../../assets/images/fondoVerde.jpg'"
        [title]="'Angular'"
        [backgroundColor]="'bg-red-900'">

        </app-project-card>
    </div>

    <div>
      <app-project-card 
      [imageUrl]="'../../../assets/images/noche.jpg'"
      [title]="'Frio Jumping'"
      [backgroundColor]="'bg-orange-900'">

      </app-project-card>
    </div>

    <div>
      <app-project-card 
      [imageUrl]="'../../../assets/images/fondoAzul.jpg'"
      [title]="'LoveGame'"
      [backgroundColor]="'bg-green-900'">

      </app-project-card>
    </div>

    <div>
      <app-project-card 
      [imageUrl]="'../../../assets/images/arcoiris.jpg'"
      [title]="'Ventys'"
      [backgroundColor]="'bg-sky-900'">

      </app-project-card>
    </div>
  </div>
</div>
