
  <header class="header">
    <a href="#" class="logo">Hector Castillo</a>

    <nav class="navbar">
      <a href="#" class="active">Home</a>
      <a href="#">About</a>
      <a href="#">Skills</a>
      <a href="#">Projects</a>
    </nav>
  </header>

<section class="home">
  <div class="home-content">
    <h1>Hi my name is Hector</h1>
    <h3>FullStack Developer</h3>
    <p>
      i am developer dolor sit amet consectetur adipisicing elit. Sint eaque rem expedita, 
      impedit inventore suscipit saepe molestiae, tenetur consequatur laudantium optio. 
      Inventore, ab. Labore sed, sit ullam non dolor ducimus.
    </p>
    <div class="btn-boxx">
      <app-blue-button></app-blue-button>
      <app-blue-button2></app-blue-button2>  

    </div>

    
  </div>
</section>