.header{
  position: fixed;
  top: 2%;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: rgba(0, 0, 91, 0.329);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo{
  font-size: 25px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
}

.navbar a{
  color: #ededed;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
}

.navbar a:hover,
.navbar a.active{
  color: #00abf0;
  border-bottom: 2px solid #00abf0;
}